.shoppingCartAfterAddToYChild,
.shoppingCartAfterAddToYItem {
  position: absolute;
  top: 161px;
  left: 0;
  background-color: var(--color-darkred);
  width: 377px;
  height: 52px;
}
.shoppingCartAfterAddToYItem {
  top: 216px;
}
.ellipseDiv,
.rectangleDiv,
.shoppingCartAfterAddToYChild1,
.shoppingCartAfterAddToYInner {
  position: absolute;
  top: 271px;
  left: 0;
  background-color: var(--color-darkred);
  width: 377px;
  height: 52px;
}
.ellipseDiv,
.rectangleDiv,
.shoppingCartAfterAddToYChild1 {
  top: 326px;
}
.ellipseDiv,
.shoppingCartAfterAddToYChild1 {
  top: 382px;
}
.ellipseDiv {
  top: -43px;
  border-radius: 50%;
  background-color: var(--colour-styles-secondary-colour-secondary-80);
  filter: blur(417px);
  width: 308px;
  height: 106px;
  display: none;
}
.sliceDiv {
  position: relative;
  width: 100px;
  height: 100px;
  display: none;
}
.eggs,
.gCrushedTomatoes,
.gGroundBeef,
.gSpaghettiNoodles,
.shreddedCheddar,
.tacoShells {
  position: absolute;
  top: 172px;
  left: 90px;
  font-weight: 600;
  display: inline-block;
  width: 237px;
  height: 40px;
}
.eggs,
.gGroundBeef,
.gSpaghettiNoodles,
.shreddedCheddar,
.tacoShells {
  top: 118px;
  left: 88px;
}
.eggs,
.gGroundBeef,
.shreddedCheddar,
.tacoShells {
  top: 229px;
  left: 121px;
}
.eggs,
.shreddedCheddar,
.tacoShells {
  top: 282px;
  left: 165px;
}
.shreddedCheddar,
.tacoShells {
  top: 341px;
  left: 141px;
}
.shreddedCheddar {
  top: 393px;
  left: 118px;
}
.shoppingCartAfterAddToYChild2 {
  position: absolute;
  top: 525px;
  left: 64px;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkred);
  width: 269px;
  height: 121px;
}
.lineDiv {
  position: absolute;
  top: 597.5px;
  left: 100.5px;
  border-top: 1px solid var(--colour-styles-neutral-colour-white);
  box-sizing: border-box;
  width: 183px;
  height: 1px;
}
.add,
.gSpaghettiNoodles1 {
  position: absolute;
  top: 569px;
  left: 90px;
  font-weight: 600;
  color: var(--colour-styles-neutral-colour-white);
  display: inline-block;
  width: 222px;
  height: 29px;
}
.add {
  top: 620px;
  left: 285px;
  font-size: var(--text-style-normal-text-bold-size);
  width: 69px;
  height: 27px;
  cursor: pointer;
}
.image,
.saved {
  position: absolute;
  left: 0;
}
.image {
  top: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-whitesmoke-400);
  width: 391px;
  height: 81px;
  opacity: 0.5;
}
.saved {
  top: 32.4px;
  display: inline-block;
  width: 38px;
  height: 16px;
}
.iconnavbookmarkinactive {
  position: absolute;
  height: 62.81%;
  width: 80%;
  top: 0;
  right: 10.53%;
  bottom: 37.19%;
  left: 9.47%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.cart,
.savedParent {
  position: absolute;
  top: 15px;
  left: 128px;
  width: 38px;
  height: 48.4px;
}
.cart {
  top: 30px;
  left: 2px;
  display: inline-block;
  width: 28px;
  height: 16px;
}
.iconCartAlt {
  position: absolute;
  height: 63.04%;
  width: 96.67%;
  top: -2.17%;
  right: 6.67%;
  bottom: 39.13%;
  left: -3.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.cartParent,
.groupChild {
  position: absolute;
  top: 17px;
  left: 221px;
  width: 30px;
  height: 46px;
}
.groupChild {
  height: 59.26%;
  width: 12.28%;
  top: 16.05%;
  right: 10.74%;
  bottom: 24.69%;
  left: 76.98%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupItem,
.imageParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 391px;
  height: 81px;
}
.groupItem {
  height: 59.26%;
  width: 12.28%;
  top: 16.05%;
  right: 78.01%;
  bottom: 24.69%;
  left: 9.72%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupParent {
  position: absolute;
  top: 734px;
  left: -4px;
  width: 391px;
  height: 81px;
  font-size: var(--text-style-smaller-text-regular-size);
  color: var(--color-darkred);
}
.blankLine {
  margin: 0;
}
.shoppingCart {
  position: absolute;
  top: 4px;
  left: 58px;
  font-weight: 600;
  display: none;
}
.header,
.shoppingCart1 {
  position: absolute;
  width: 211px;
  height: 31px;
}
.shoppingCart1 {
  top: 0;
  left: 0;
  font-weight: 600;
  display: inline-block;
}
.header {
  top: 55px;
  left: 83px;
  color: var(--colour-styles-label-colour);
}
.shoppingCartAfterAddToY {
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--colour-styles-neutral-colour-white);
  width: 100%;
  height: 812px;
  overflow: hidden;
  text-align: left;
  font-size: var(--text-style-medium-text-bold-size);
  color: var(--color-whitesmoke-100);
  font-family: var(--text-style-smaller-text-small-label);
}
