
.filterContainer {
  width: 300px;
  margin: 20px auto;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.buttonContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.filterButton {
  padding: 10px 15px;
  border: 2px solid #800000;
  border-radius: 5px;
  background-color: #fff;
  color: #800000;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: var(--br-3xs);
}

.filterButton.clicked {
  background-color: var(--color-darkred);
    color: #fff;
}

h2{
  position: relative;

  font-size: var(--text-style-small-text-regular-size);
  font-weight: 600;
  color: var(--colour-styles-neutral-colour-black);
}

.label {
  position: relative;
  font-weight: 500;
  display: inline-block;
  width: 114px;
  flex-shrink: 0;
}

.smallButton {
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkred);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-11xl);
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  color: var(--colour-styles-neutral-colour-white);
}